@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Karla:400,700');
@import 'normalize';
@import './variables';
@import './mixins';
@import '../button/button';
@import '../favorites/favorites';
@import '../header/header';
@import '../input/input';
@import '../joke/joke';
@import '../joke-list/joke-list';
@import '../settings/settings';

body {
  background: $body-bg-color;
  color: $body-text-color;
  font-family: 'Karla', sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }

  .joke-list,
  .favorites-list {
    display: block;
  }

  .joke-box {
    width: 90%;
    margin: 20px;
  }
}
