@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Karla:400,700');
@import 'normalize';

$body-text-color: #fff;
$body-bg-color: #18353f;
$header-bg-color: #5e7178;
$btn-bg-color: #c0c0c0;
$btn-hover-bg-color: $body-text-color;
$joke-box-bg-color: #132a32;


@mixin button-input-style {
  border: 0;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px;
  outline: 0;
  padding: 10px 20px;
}

.settings-bar {
  margin-top: 20px;
  text-align: center;
}

body {
  background: $body-bg-color;
  color: $body-text-color;
  font-family: 'Karla', sans-serif;
}

.title {
  font-family: 'Bungee Shade', sans-serif;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

.header {
  background: $header-bg-color;
  height: 90px;
}

.btn {
  @include button-input-style;
  background: $btn-bg-color;

  &:hover {
    background: $btn-hover-bg-color;
  }
}

.btn-settings {
  border-radius: 50%;
  float: right;
  height: 60px;
  padding: 5px;
  width: 60px;
}

.user-input {
  text-align: center;
}

.btn-get-favorites {
  display: block;
  margin: 0 auto;
}

.joke-list {
  margin: 0 auto;
  text-align: center;
}

@mixin joke {
  padding: 10px;
  text-align: center;
}

.random-joke-box {
  @include joke;
  border: 1px dotted $body-text-color;
  margin: 10px auto;
}

.joke-box {
  @include joke;
  align-content: center;
  background: $joke-box-bg-color;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 30%;
}


input {
  @include button-input-style;
}
