$body-text-color: #fff;
$body-bg-color: #18353f;
$header-bg-color: #5e7178;
$btn-bg-color: #e0e0e0;
$btn-hover-bg-color: #fff;
$joke-box-bg-color: #132a32;
$unstarred-color: #fff;
$starred-color: #ffeb3b;
$star-active-color: #ffc107;
$btn-disabled-bg-color: #616161;
$btn-disabled-text-color: #bdbdbd;

$toggle-color: #e0e0e0;
$nsfw-color: #c62828;
$sfw-color: #8bc34a;
