.btn {
  @include button-input-style;
  background: $btn-bg-color;

  &:hover {
    background: $btn-hover-bg-color;
  }

  &:active {
    background: $btn-bg-color;
    color: black;
  }


  &[disabled] {
    background: $btn-disabled-bg-color;
    color: $btn-disabled-text-color;
  }
}

.btn-star {
  background: 0;
  color: $unstarred-color;
  margin: 0;
  padding: 0;

  &:hover {
    background: 0;
    color: $starred-color;
  }

  &:active {
    color: $star-active-color;
  }
}


.starred {
  color: $starred-color;
}

.btn-settings {
  border-radius: 50%;
  float: right;
  height: 60px;
  padding: 5px;
  width: 60px;
}

.btn-get-favorites {
  display: block;
  margin: 0 auto;
}
