.btn {
  @include button-input-style;
  background: #E0E0E0;

  &:hover {
    background: $btn-hover-bg-color;
  }

  &:active {
    background: $btn-bg-color;
    color: black;
  }


  &[disabled] {
    background: #616161;
    color: #BDBDBD;

    &:hover {
      filter: opacity(100%);
    }
  }
}

.btn-star {
  background: 0;
  color: white;
  padding: 0;
  margin: 0;
  // text-align: center;

  &:hover {
    background: 0;
    color: $starred-color;
  }

  &:active {
    color: #FFC107;
  }
}


.starred {
  color: $starred-color;
}

.btn-settings {
  border-radius: 50%;
  float: right;
  height: 60px;
  padding: 5px;
  width: 60px;
}

.btn-get-favorites {
  display: block;
  margin: 0 auto;
}
